*{
    padding: 0px;
    margin: 0px;

}
body{
    overflow: scroll;
}
a{
    text-decoration: none;//去下划线
    color: white;
}

.top-nav li a{
    color: white;
}

.nav_contain{
    height: 75px;
    width: 100%;
    /*    渐变颜色*/
    background-color: #333;

}

.header_contain{
    padding-left: 29px;
    height: 75px;
}

.nav_contain,.header_contain,.top-nav,.top-nav li,.input-contain{
    height: 75px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.tool-right,.tool-right li{
    height: 75px;
    display: inline-block;
    vertical-align: top;
}

.tool-top{
    height: 75px;
    display: inline-block;
    vertical-align: top;
}

.input-contain{
    padding-left: 150px;
}

.top-nav li{
    text-align: center;
    padding: 24px 15px 0px 15px;
    /*margin-top: 26px;*/
    /*overflow: hidden;*/
}

.tool-right{
    padding-left: 25px;

}

.nav-logo2{
    border: 1px solid white;
    border-radius: 25px;
   padding: 10px;
    overflow: visible;
}

.tool-right li{
    text-align: center;
    padding-left: 15px;
    margin-top: 26px;
}

.tool-right li a{
    color: white;
}

.tool-top{
    /*padding-right: 25px;*/
    /*margin-top: 26px;*/
    /*border-radius: 25px;*/
    /*background-color: #02d3ff;*/
    width: 200px;
    height: 39px;
    margin-top: 18px;
    margin-left: -100px;
    line-height: 39px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    color: white;
    background: white;
}

.top-nav li:hover{
    background-color:#242424;
    overflow: hidden;
}

.nav-logo{
    border: none;
    outline: none;
}

.nav-logo1{

    padding-right: 167px;
    height: 75px;
    display: inline-block;
    vertical-align: top;
    background: transparent url(https://s2.music.126.net/style/web2/img/frame/topbar.png?a5aea9630fffdf98881d3dc3ae5690df) no-repeat left 2px;
}
